.imagen{
  width: 80%;
}

.texto{
  width: 85%;
  text-align: center;
}

.container4{
  background-color: rgb(250, 144, 162);
}

.contact{
  color: white;
  text-align: center;
}

.caja{
  color: white;
}

.btn{
  
  color: white;
}

.icons{
  text-align: center;
}